## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Victoria,HK,22.2855,114.1577,68.95,88,16,5.01,few clouds
1,1,Alice Town,BS,25.7167,-79.3000,74.26,79,100,9.04,overcast clouds
2,2,Airai,TL,-8.9266,125.4092,68.90,80,81,2.06,broken clouds
3,3,Albany,US,42.6001,-73.9662,51.80,56,100,1.99,overcast clouds
4,4,Kodiak,US,57.7900,-152.4072,38.71,93,100,0.00,mist

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 75

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Victoria,HK,22.2855,114.1577,68.95,88,16,5.01,few clouds
1,1,Alice Town,BS,25.7167,-79.3000,74.26,79,100,9.04,overcast clouds
2,2,Airai,TL,-8.9266,125.4092,68.90,80,81,2.06,broken clouds
3,3,Albany,US,42.6001,-73.9662,51.80,56,100,1.99,overcast clouds
10,10,Lata,PT,40.1629,-8.3327,49.06,94,100,1.34,overcast clouds
11,11,Dosso,NE,13.0490,3.1937,69.57,13,0,10.47,clear sky
14,14,Punta Arenas,CL,-53.1500,-70.9167,57.31,72,75,28.77,broken clouds
17,17,East London,ZA,-33.0153,27.9116,72.00,85,0,3.83,clear sky
18,18,Sayyan,YE,15.1718,44.3244,52.12,53,11,1.30,few clouds
21,21,Mataura,NZ,-46.1927,168.8643,58.48,50,99,9.28,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             265
City                   265
Country                264
Lat                    265
Lng                    265
Max Temp               265
Humidity               265
Cloudiness             265
Wind Speed             265
Current Description    265
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

Unnamed: 0             264
City                   264
Country                264
Lat                    264
Lng                    264
Max Temp               264
Humidity               264
Cloudiness             264
Wind Speed             264
Current Description    264
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Victoria,HK,68.95,few clouds,22.2855,114.1577,
1,Alice Town,BS,74.26,overcast clouds,25.7167,-79.3000,
2,Airai,TL,68.90,broken clouds,-8.9266,125.4092,
3,Albany,US,51.80,overcast clouds,42.6001,-73.9662,
10,Lata,PT,49.06,overcast clouds,40.1629,-8.3327,
11,Dosso,NE,69.57,clear sky,13.0490,3.1937,
14,Punta Arenas,CL,57.31,broken clouds,-53.1500,-70.9167,
17,East London,ZA,72.00,clear sky,-33.0153,27.9116,
18,Sayyan,YE,52.12,few clouds,15.1718,44.3244,
21,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df.loc[hotel_df['Hotel Name'] != '']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Victoria,HK,68.95,few clouds,22.2855,114.1577,Mini Hotel Central
1,Alice Town,BS,74.26,overcast clouds,25.7167,-79.3000,Bimini Big Game Club Resort & Marina
10,Lata,PT,49.06,overcast clouds,40.1629,-8.3327,Casa Maquia
11,Dosso,NE,69.57,clear sky,13.0490,3.1937,Hotel Toubal
14,Punta Arenas,CL,57.31,broken clouds,-53.1500,-70.9167,Hotel Hain
...,...,...,...,...,...,...,...
657,Mazamari,PE,70.63,overcast clouds,-11.3258,-74.5308,Hospedaje Ratto
661,Sherwood,US,62.35,overcast clouds,34.8151,-92.2243,Holiday Inn Express & Suites North Little Rock...
662,Mount Gambier,AU,73.80,clear sky,-37.8333,140.7667,The Commodore
665,Dunedin,NZ,62.80,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
666,Mwense,ZM,64.80,overcast clouds,-10.3845,28.6980,Mwense Council Guest House

In [11]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_Vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))